$main-color: #7c5dfa;

$sub-color: #9278ff;

$dark-bg-color: #141625;

$dark-bg-sub-color: #252945;

$light-text-color: #ffffff;

$light-text-sub-color: rgba($light-text-color, .6); 

$light-text-very-sub-color: rgba($light-text-color, .2);

$paid-color: #69d69f;

$pending-color: #ec8d22;

$draft-color: #ffffff;

// light

$light-bg-color: #F8F8FB;

$dark-text-color: #141625;

$dark-text-sub-color: #7a7b82;