@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

$font-main-name: 'Spartan', sans-serif;

$font-main-size: 16px;

$font-main-size-small: 13px;

$font-main-bold: 400;